# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# Class Files #
*.class

# Package Files #
*.war
*.ear

/bin/
/target/


# Eclipse 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/resources/temp
/resources/temp/lastOrder.pdf